server:
  port: 8080
  servlet:
    context-path: /mahashakti
  tomcat:
    uri-encoding: UTF-8
  max-http-header-size: 64KB

springdoc:
  show-actuator: true
  swagger-ui:
    path: /swagger-ui-custom.html
    operationsSorter=method:

# Implement JLog
logging:
  level:
    root: INFO
    org.hibernate.SQL: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: INFO
    org.apache.kafka.clients.Metadata: ERROR
    org.springframework.security: INFO

datasource:
  url: ${DB_URL}
  driverClassName: org.postgresql.Driver
  username: ${DB_USERNAME}
  password: ${DB_PASSWORD}
  initializationMode: never
  platform: postgres
  dbcp2:
    validationQuery: SELECT 1
  hikari:
    maximumPoolSize: 20
    minimumPoolSize: 20

spring:
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        boot:
          allow_jdbc_metadata_access: false
    hibernate:
      ddl-auto: none
      show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: app.mahashakti@gmail.com
    password: afpydsusijsdjlvt
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

management:
  server:
    port: 8080
  health:
    ping:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
      metrics:
        id: metrics
        enabled: true
        sensitive: false

twilio:
  account:
    sid: AC96db15ef4a94fdc412ac07eb68727c99
  auth:
    token: 2e70968687738792f19034000100901b
  phone:
    number: +18435472128

minimum-stock-days:
  materials:
    '[Maize]': 15
    '[Soya DOC]': 22
    '[DORB]': 10
    '[Mustard DOC]': 15
    '[DCP]': 7
    '[Marble Grit]': 20
    '[LSP]': 7
    '[Salt]': 5
    '[Soda]': 5
    '[Egg Spur]': 20
    '[Red]': 20
    '[Yellow]': 20
    '[L-Lysine]': 20
    '[D.L.Methionine 98%]': 20
    '[L Threonine]': 20
    '[Choline Chloride 20%]': 20
    '[Layvit Classic - Rovimix Layer]': 20
    '[Tracemin CL]': 20
    '[Ronozyme Maxlay 200]': 20
    '[Supertase -5000]': 20
    '[Livtax Fort - Suprolive]': 20
    '[Bibantox +]': 20
    '[Acidomix DF]': 20
    '[Natext]': 20
    '[CMP 1]': 20
    '[Virufluza]': 20
    '[Levucell SB - YLEP Pro]': 20
    '[Hy-D]': 15
    '[Rapigrow]': 15
    '[Rice Bran Oil]': 20
